/* .svgFile{
    max-height: 50px;
    max-width: 50px
}
.progressClass{
    width: 200px;
    background-color: #f0f7ee!important;
}
.progressClass .bar{
    background: #6B63FF!important;
}
.progressClass .progress{
    color: #ffdf00!important;
}
.langFull{
    width: 300px;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    text-align: center;
}
.progressHolder{
    padding: 10px;
} */
.svgFile{
    max-height: 50px;
    max-width: 50px
}
.progressClass{
    width: 100%;
    background-color: #f0f7ee!important;
}
.progressClass .bar{
    background: #6B63FF!important;
}
.progressClass .progress{
    color: #ffdf00!important;
}
.langFull{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    text-align: center;
}
.progressHolder{
    padding: 10px;
}
@media screen and (min-width: 1275px){

    .progressClass{
        /* width: 400px; */
    }

    .langFull{
        margin:0;
        width: 100%;
    
    }

}

