
#react-chrono-timeline{
    text-align: center;
} 
#react-chrono-timeline .timeline-card-content{
    background: #F0F7EE!important;
    /* color:#0D0221!important; */
}

.workTimeline{
   width: 550px; 
   height: 400px; 
   margin:auto;
}