#timeline-main-wrapper .timeline-card-content{
    background: #F0F7EE!important;
}
.timeline-item-title{
    color: #F0F7EE;
}
.css-ouzaa4-TimelineContentDetailsWrapper{
    max-height: 100px!important;
}