

.about-main {
    
    height: auto;
    width: 90%;
    margin: auto;
}
.about-part1{
    margin-top: 100px;
}
.about-part1 .uncontrolled-lottie{
    height: auto;
    width: 70%;
    margin: auto;
}

.box {
    width: auto;
    height: 200px;
    margin: 50px auto;
    background: #fff07c;
    padding: 20px;
    text-align: left;
    font-weight: 900;
    color: #0d0221;
    font-family: arial;
    position: relative;
    font-size: 16px;
  }
.sb2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff07c;
    border-top: 10px solid #fff07c;
    border-bottom: 10px solid transparent;
    /* left: -10px; */
    top: 6px;
  }

.about-part2 #timeline-main-wrapper{
    height: 7rem;
}
@media screen and (min-width: 1275px){
    

.about-part1{
    display: grid;
    grid-template-columns: 40% 60%;
}
.about-part1 .uncontrolled-lottie{
    height: auto;
    width: 100%;
    /* margin: auto; */
    padding: 20px 20px;
}

.sb2:before {
    left: -19px;
  }

.about-part3{
    display: grid;
    grid-template-columns: auto auto;
}
}