.ability-grid img{
    max-height: 80px;
    width: auto;
}
.ability-grid{
    /* width: 100px; */
    display: grid;
    grid-template-columns: 50% 50%;
}

.ability-item{
    /* align-items: center; */
    text-align: center;
    /* justify-content: center; */
    /* border: 2px solid;  */
    border-color: #6B63FF;
}
.ability-item p{
    font-size: 18px;
    margin: 20px!important;
    color: #F0F7EE;
}

@media screen and (min-width: 750px){
    .ability-grid{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
